* {
	box-sizing: border-box;
    border: 1px solid #639500;
}

body {
    background-color: #F2FBDF;

}
#wrapper {
	width: 900px;
	margin: 30px auto;
	font: 18px Arial;
    background-color: white;
}


header {
    width: 100%;
  color: white;
  background-image: linear-gradient(rgba(250, 250, 250, 0.3), rgba(250, 250, 250, 0.3)), url('../images/header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;

}

#siteName {
	margin: 0px;
	font: bold 40px Comic Sans MS;
	color: #DDF8A6;
}

nav {
	display: flex;
	width: 900px;
	font: 20px Arial;
	justify-content: center;
	color: white;
}
nav a {
	padding: 10px;
	text-decoration: none;
	text-align: center;
	color: white;
}
nav a:hover, nav a.active {
	text-decoration: underline;
	font-weight: bold;
	color: white;
}

#container {
	display: flex;
	text-align: justify;
}
main {
	width: 70%;
	padding: 20px;
}
aside {
	padding: 20px;
}
footer {
	text-align: center;
	padding: 10px;
	font: 10px Arial;
}

#block {
	margin: 20px 0 50px 220px;
}

main h1 {
	font: 20px 'Times New Roman';
}

main p {
	margin: 10px 0;
	text-align: justify;
	font: 15px Arial;
}

h2 {
color: #82B61C;
}

p {	text-indent: 50px;}

img {
	width: 150px;
}

#tile {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	padding: 10px;
	width: 600px;

}
#tile > div {
	height: 150px;
	padding: 10px;
	background-color: white;
}
